@import url("https://fonts.googleapis.com/css?family=Istok+Web:400,700&subset=latin-ext");
body {
  font-family: 'Istok Web', sans-serif;
  background-color: #eee;
  color: #333;
  font-style: 16px; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  outline: none; }

a {
  color: #666; }
  a:hover {
    color: #000; }

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0; }

.main-header .top-bar {
  padding: 10px 0; }
  .main-header .top-bar a {
    font-size: 14px;
    color: #333; }
    .main-header .top-bar a:hover {
      color: #000; }
  .main-header .top-bar .dent-info {
    float: left; }
.main-header .navbar {
  background-color: #fff;
  margin-bottom: 0;
  padding: none; }
  .main-header .navbar .navbar-toggle {
    padding: 0;
    margin: 0;
    border: none;
    margin-top: 35px;
    margin-left: 15px;
    margin-right: 15px; }
    .main-header .navbar .navbar-toggle .icon-bar {
      width: 30px;
      height: 6px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-color: #000; }
      .main-header .navbar .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 2px; }
  .main-header .navbar .container {
    position: relative; }
.main-header .logo {
  width: 80px;
  margin-top: 10px;
  margin-bottom: 0;
  float: left; }

.nav {
  padding-bottom: 5px; }
  .nav li {
    text-align: center; }
    .nav li a {
      padding-left: 0;
      padding: 30px 0;
      padding-bottom: 5px;
      border-bottom: 2px solid transparent;
      text-transform: uppercase;
      display: inline-block; }
      .nav li a:hover, .nav li a:focus {
        border-bottom-color: #ACDACF;
        background-color: transparent; }
  .nav .active a {
    border-bottom: 2px solid #ACDACF; }

@media (min-width: 768px) {
  .main-header .top-bar a {
    font-size: 16px; }
  .main-header .logo {
    width: 80px;
    margin-top: 10px; }
  .main-header .nav li {
    margin-top: 10px;
    padding-bottom: 0; }
    .main-header .nav li:not(:last-child) {
      margin-right: 30px; }
  .main-header .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; } }
@media (min-width: 992px) {
  .main-header .nav {
    padding-right: 10px; }
    .main-header .nav li:last-child {
      margin-right: 30px; } }
@media (min-width: 1200px) {
  .main-header .logo {
    width: 104px; } }
.products-section .products-title {
  font-size: 23px;
  text-align: center;
  text-transform: uppercase;
  font-style: 10px;
  color: #000;
  margin-bottom: 10px;
  margin-top: 10px; }
  .products-section .products-title::after {
    content: " ";
    width: 95px;
    height: 5px;
    display: block;
    background-image: url("../img/decoration-line.png");
    margin: 10px auto 0; }
.products-section p {
  color: black;
  text-align: left;
  margin-bottom: 15px; }
.products-section .colection-holder a:hover {
  box-shadow: 10px 10px 18px #888; }
.products-section .colection-holder a {
  font-style: 26px;
  text-transform: uppercase;
  display: block;
  color: #fff;
  margin-bottom: 15px; }
  .products-section .colection-holder a img {
    opacity: .8; }
  .products-section .colection-holder a span {
    margin: 0 auto;
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    width: 90%;
    text-align: center;
    font-size: 24px; }
.products-section .product {
  margin-bottom: 35px; }
  .products-section .product .product-image-holder {
    margin-bottom: 15px;
    position: relative;
    overflow: hidden; }
    .products-section .product .product-image-holder > a {
      display: block;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s; }
  .products-section .product .product-title {
    margin-bottom: 15px;
    padding: 0 15px; }
    .products-section .product .product-title h3 {
      font-size: 16px;
      float: left;
      margin-bottom: 0; }
  .products-section .product:hover .product-image-holder > a {
    opacity: .6; }
.products-section .products-holder {
  position: relative;
  margin-bottom: 20px;
  background-color: white;
  padding: 10px; }
  .products-section .products-holder h2 {
    text-transform: uppercase;
    text-align: center; }
  .products-section .products-holder .back-to-top {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    background-color: #85C3DC;
    background-image: url("../img/back-to-top-white.png");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    text-indent: -9999px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s; }
    .products-section .products-holder .back-to-top:hover {
      background-image: url("../img/back-to-top-blue.png");
      background-color: white; }

@media (max-width: 400px) {
  .article-clear {
    width: 100%; } }
@media (min-width: 400px) {
  .products-section p {
    margin-bottom: 25px; }
  .products-section .colection-holder a {
    margin-bottom: 30px; }
    .products-section .colection-holder a span {
      font-size: 13px;
      top: 60%; }

  .article-clear:nth-of-type(2n+3) {
    clear: both; } }
@media (min-width: 768px) {
  .products-section p {
    margin-bottom: 15px; }
  .products-section .colection-holder a span {
    font-size: 20px;
    top: 70%; } }
@media (min-width: 992px) {
  .products-section p {
    margin-bottom: 70px; }
  .products-section .colection-holder a {
    margin-bottom: 65px; }
    .products-section .colection-holder a span {
      font-size: 24px;
      top: 60%; }

  .article-clear:nth-of-type(2n+3) {
    clear: none; }

  .article-clear:nth-of-type(3n+4) {
    clear: both; } }
@media (min-width: 1200px) {
  .products-section .colection-holder a {
    margin-bottom: 60px; }
  .products-section .product {
    margin-bottom: 50px; }

  .article-clear:nth-of-type(3n+4) {
    clear: none; }

  .article-clear:nth-of-type(4n+5) {
    clear: none; } }
.main-footer {
  color: #fff; }
  .main-footer a {
    color: #fff; }
  .main-footer .footer-top {
    padding: 50px 10px;
    background-color: #85C3DC; }
    .main-footer .footer-top h3 {
      text-transform: uppercase;
      margin-bottom: 20px;
      font-size: 20px; }
    .main-footer .footer-top p {
      margin-bottom: 0; }
      .main-footer .footer-top p a {
        margin-bottom: 10px;
        display: inline-block; }
    .main-footer .footer-top .back-to-top {
      display: none; }
  .main-footer .footer-bottom {
    padding: 15px 0; }
    .main-footer .footer-bottom .soc-net {
      text-align: center; }
      .main-footer .footer-bottom .soc-net li {
        display: inline-block; }
        .main-footer .footer-bottom .soc-net li:not(:last-child) {
          margin-right: 10px; }
        .main-footer .footer-bottom .soc-net li a {
          display: block;
          width: 40px;
          height: 40px;
          text-indent: -9999px;
          background-size: cover;
          transition: all .3;
          -webkit-transition: all .3;
          -moz-transition: all .3; }
          .main-footer .footer-bottom .soc-net li a.ks {
            background-image: url("../img/krojacevaskola.png"); }
          .main-footer .footer-bottom .soc-net li a.fb {
            background-image: url("../img/facebook.png"); }
          .main-footer .footer-bottom .soc-net li a.tw {
            background-image: url("../img/twitter.png"); }
          .main-footer .footer-bottom .soc-net li a.in {
            background-image: url("../img/instagram.png"); }
          .main-footer .footer-bottom .soc-net li a.yt {
            background-image: url("../img/youtube.png"); }
          .main-footer .footer-bottom .soc-net li a:hover {
            opacity: .8; }

@media (min-width: 768px) {
  .main-footer .footer-top {
    position: relative; }
    .main-footer .footer-top h4 {
      margin: 25px 0;
      text-transform: uppercase;
      font-size: 18px; }
    .main-footer .footer-top li {
      margin-bottom: 7px; }
    .main-footer .footer-top .back-to-top {
      width: 40px;
      height: 40px;
      border: 1px solid #fff;
      background-image: url("../img/back-to-top-white.png");
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      text-indent: -9999px;
      position: absolute;
      right: 30px;
      bottom: 30px;
      cursor: pointer;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s; }
      .main-footer .footer-top .back-to-top:hover {
        background-image: url("../img/back-to-top-blue.png");
        background-color: white; }
  .main-footer .footer-bottom .soc-net {
    float: left; }
    .main-footer .footer-bottom .soc-net li:not(:last-child) {
      margin-right: 0; }
    .main-footer .footer-bottom .soc-net li a {
      width: 20px;
      height: 20px; } }
@media (min-width: 992px) {
  .main-footer .footer-top p {
    font-size: 14px; }
  .main-footer .footer-bottom {
    padding: 25px 0; } }
@media (min-width: 1200px) {
  .main-footer .footer-top h4 {
    margin-top: 50px; }
  .main-footer .footer-bottom {
    padding: 35px 0; } }
@media (min-width: 1400px) {
  .main-footer .footer-top .back-to-top {
    border-color: #85C3DC;
    bottom: -65px;
    background-image: url("../img/back-to-top-blue.png"); }
    .main-footer .footer-top .back-to-top:hover {
      background-color: #85C3DC;
      background-image: url("../img/back-to-top-white.png"); } }
#pricelist {
  font-size: 12px;
  width: 100%;
  background: #ffc;
  border-collapse: collapse;
  margin-bottom: 10px; }
  #pricelist tr:nth-child(even) {
    background-color: #f2f2f2; }
  #pricelist th, #pricelist td {
    padding: 5px;
    text-align: left; }
  #pricelist tfoot {
    background: #c00;
    color: #fff; }
  #pricelist thead {
    background: #ccc; }
  #pricelist tbody {
    background: white; }

h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 10px; }

@media (min-width: 960px) {
  #pricelist {
    font-size: 16px; }

  h2 {
    font-size: 30px; } }
.onama {
  margin: 10px 0;
  text-align: left;
  font-size: 16px;
  padding: 10px; }

.kurir {
  text-align: center; }

.map {
  margin: 5px 0; }
  .map iframe {
    width: 100%;
    height: 300px; }
  .map h2 {
    text-transform: uppercase;
    text-align: left;
    font-size: 16px; }

/*# sourceMappingURL=main.css.map */
