.products-section{
  .products-title{
    font-size: 23px;
    text-align: center;
    text-transform: uppercase;
    font-style: 10px;
    color: #000;
    margin-bottom: 10px;
    margin-top: 10px;
    &::after{
      content: " ";
      width: 95px;
      height: 5px;
      display: block;
      background-image: url("../img/decoration-line.png");
      margin: 10px auto 0;
    }
  }
  p{
    color: black;
    text-align: left;
    margin-bottom: 15px;
  }
  .colection-holder{
    a:hover{
      box-shadow: 10px 10px 18px #888;
    }
    a{
      font-style: 26px;
      text-transform:uppercase;
      display: block;
      color: #fff;
      margin-bottom: 15px;
      img{
        opacity: .8;
      }
      span{
        margin: 0 auto;
        position: absolute;
        top: 75%;
        transform: translateY(-50%);
        width: 90%;
        text-align: center;
        font-size: 24px;
      }
    }
  }
  .product{
    margin-bottom: 35px;
    .product-image-holder{
      margin-bottom: 15px;
      position: relative;
      overflow: hidden;
      > a{
        display: block;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
      }
    }
    .product-title{
      margin-bottom: 15px;
      padding: 0 15px;
      h3{
        font-size: 16px;
        float: left;
        margin-bottom: 0;
      }
    }
    &:hover{
      .product-image-holder{
        > a{
          opacity: .6;
        }
      }
    }
  }
  .products-holder{
    h2{
      text-transform: uppercase;
      text-align: center;
    }
    position: relative;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
    .back-to-top{
      width: 40px;
      height: 40px;
      border: 1px solid #fff;
      background-color: #85C3DC;
      background-image: url("../img/back-to-top-white.png");
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      text-indent: -9999px;
      position: absolute;
      right: 30px;
      bottom: 30px;
      cursor: pointer;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      &:hover{
        background-image:  url("../img/back-to-top-blue.png");
        background-color: white;
      }
    }
  }
}
@media (max-width: 400px ) {
  .article-clear{
    width: 100%;
  }
}
@media (min-width: 400px) {
  .products-section{
    p{
      margin-bottom: 25px;
    }
    .colection-holder{
      a{
        margin-bottom: 30px;
        span{
          font-size: 13px;
          top: 60%;
        }
      }
    }
  }
  .article-clear:nth-of-type(2n+3){
  clear: both;
  }
}
@media (min-width: 768px){
  .products-section{
    p{
      margin-bottom: 15px;
    }
    .colection-holder{
      a{
        span{
          font-size: 20px;
          top: 70%;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .products-section{
    p{
      margin-bottom: 70px;
    }
    .colection-holder{
      a{
        margin-bottom: 65px;
        span{
          font-size: 24px;
          top: 60%;
        }
      }
    }
  }
  .article-clear:nth-of-type(2n+3){
  clear: none;
  }
  .article-clear:nth-of-type(3n+4){
  clear: both;
  }
}
@media (min-width: 1200px) {
  .products-section{
    .colection-holder{
      a{
        margin-bottom: 60px;
      }
    }
    .product{
      margin-bottom: 50px;
    }
  }
  .article-clear:nth-of-type(3n+4){
  clear: none;
  }
  .article-clear:nth-of-type(4n+5){
  clear: none;
  }
}
